@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;bold;700&display=swap');

.search-container {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* Estilo para as seções */
.section {
  padding: 30px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

input[type="text"] {
  padding: 10px;
  width: 70%;
  border: 1px solid #003C2A;
  border-radius: 10px;
  font-size: 1rem;
  transition: border-color 0.3s;
}

input[type="text"]:focus {
  border-color: #1e7e34;
  outline: none;
}

button {
  padding: 10px 20px;
  background: #003C2A;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

button:hover {
  background: #003C2A;
}

.locations {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.location-card {
  background: #e0f2f1;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  width: 300px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.location-card:hover {
  transform: translateY(-15px);
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.12);
}

.location-card h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.back-button {
  display: block;
  text-align: center;
  padding: 10px;
  font-size: 1.1rem;
  color: #003C2A;
  font-weight: bold;
  text-decoration: none;
  border: 1px solid #003C2A;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 20px;
}

.back-button:hover {
  background-color: #003C2A;
  color: white;
}


@media (max-width: 768px) {
  input[type="text"] {
    width: 100%;
  }

  .locations {
    flex-direction: column;
    align-items: center;
  }

  .location-card {
    width: 90%;
  }
}
