/* Importando a fonte Nunito do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

/* Estilização do título dentro das seções */
.section h3 {
  font-size: 1.5rem; /* Define o tamanho da fonte */
  color: #003C2A; /* Cor do texto */
  margin-bottom: 15px; /* Espaçamento inferior */
}

/* Estilização do texto e das listas dentro das seções */
.section p,
.section ul {
  font-size: 1.2rem; /* Define o tamanho da fonte */
  line-height: 1.8; /* Define o espaçamento entre linhas */
  color: #555; /* Cor do texto */
}

/* Estilização das listas */
.section ul {
  list-style-type: none; /* Remove os marcadores padrão */
  padding: 0; /* Remove o espaçamento interno */
}

/* Estilização dos itens da lista */
.section ul li {
  margin: 10px 0; /* Adiciona espaçamento entre os itens */
}

/* Estilização dos links dentro das listas */
.section ul a {
  color: #4d8c8c; /* Cor do link */
  text-decoration: none; /* Remove o sublinhado */
  font-weight: bold; /* Texto em negrito */
}

/* Efeito ao passar o mouse sobre os links */
.section ul a:hover {
  text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .form-container input,
  .form-container textarea {
    width: 100%; /* Faz os campos ocuparem toda a largura disponível */
    height: 150px; /* Define uma altura fixa */
  }
}
