/* Importando a fonte Nunito do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;bold&display=swap');

/* Estilo para as seções */
.section {
  padding: 30px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  text-align: left;
  font-size: 1.2rem;
  transition: transform 0.3s, box-shadow 0.3s;
}

.section p {
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 20px;
}

.section h3 {
  font-size: 1.4rem;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #333;
  font-weight: bold;
  text-align: left; /* Alinhando à esquerda */
}

.how-it-works ul {
  list-style-type: none;
  padding-left: 0;
  font-size: 1.1rem;
  margin-top: 15px;
  text-align: left; /* Garantindo que a lista também fique alinhada à esquerda */
}

.how-it-works li {
  margin-bottom: 15px;
  padding-left: 20px;
  position: relative;
}

.how-it-works li::before {
  content: "✓";
  color: #66a3a3;
  position: absolute;
  left: 0;
  top: 0;
}

ul {
  display: block;
  list-style-type: disc;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
  font-size: 1rem;
}
