<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReVira Manaus</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='c.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
</head>

<body>

    <nav>
        <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='logo_header2.svg') }}" alt="ReVira Manaus" width="300"></a>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('sobre') }}">Sobre</a></li>
            <li><a href="{{ url_for('descarte') }}">Forma de Descarte</a></li>
            <li><a href="{{ url_for('coleta') }}">Pontos de Coleta</a></li>
            <li><a href="{{ url_for('contato') }}">Contato</a></li>
            <li><a href="{{ url_for('cadastro') }}" target="_blank">Cadastro</a></li>
        </ul>
    </nav>

    <!-- Header -->
    <header>
        <img src="{{ url_for('static', filename='logo_header2.svg') }}" alt="ReVira Manaus" width="300">
        <h1>Transformando resíduos em oportunidades!</h1>
    </header>

    <section class="cadastro">
        <div class="container">
            <h3>Cadastro</h3>
            <form>
                <input type="text" placeholder="Nome completo" required>
                <input type="email" placeholder="E-mail" required>
                <input type="password" placeholder="Senha" required>
                <input type="text" placeholder="Cidade/Bairro" required>
                <button type="submit">Cadastrar como Usuário</button>
            </form>
            <a href="#">Cadastrar como empresa</a>
        </div>
    </section>

    <footer>
        <p>&copy; 2025 ReVira Manaus - Plataforma de Descarte Sustentável. <a href="https://www.reviramanaus.com.br">www.reviramanaus.com.br</a></p>
    </footer>
    
</body>
</html>
